@media(max-width:457px){
    .preimushestvo ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .frst_li{
        margin-left: 0px;
    }
}
@media(max-width:1399px){
    .preimushestvo ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .frst_li{
        margin-left: 0px;
    }
}

@media(max-width:500px){
    .carslt h1, .preimushestvo h1, .otehr h1{
        font-size: 36px;
    }
}
@media(max-width:360px){
    .carslt h1, .preimushestvo h1, .otehr h1{
        font-size: 32px;
    }
}
